<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Visualizer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'app' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Gudea" rel="stylesheet">
  </head>

  <body>
    <%= yield %>

  </body>
</html>
